<div style="margin-left:30px;width:300px;">
    <h3>Edit Item</h3>
    {{message}}

    <form name="EditItemForm" ng-submit="UpdateItem();" class="form-group-sm">

        <div class="form-group">
            <label for="item.Name">Name</label>
            <input type="text" class="form-control" ng-model="item.Name" required />
        </div>
        <div class="form-group">
            <label for="item.Stock">Stock</label>
            <input type="number" class="form-control" ng-model="item.Stock" required />
        </div>
        <div class="form-group">
            <label for="item.Price">Price</label>
            <input type="number" class="form-control" ng-model="item.Price" required />
        </div>
        <div class="form-group">
            <label for="item.Suppliers">Suppliers</label>
            <select class="form-control" ng-model="item.Suppliers.Id" ng-options="supplier.Id as supplier.Name for supplier in listSuppliers"></select>
            <!--<select ng-model="item.Suppliers.Id" data-placement="Choose" class="form-control" required>
                <option value="0">Choose Supplier</option>
                <option data-ng-repeat="supplier in listSuppliers" value="{{supplier.Id}}">{{supplier.Name}}</option>
            </select>-->
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update" ng-disabled="EditItemForm.$invalid" />
        </div>

        <!--<table>
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="item.Name" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Update" /></td>
            </tr>
        </table>-->
    </form>

    <br />
    <br />
    <a href="#/" class="btn btn-primary">Back to Main</a>
</div>